.score{
    display: flex;
    justify-content: space-around;
}

.buttons, .result{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Reset{
    display: none;
}

.result{
    flex-direction: column;
}
