*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.1rem;
}

.score{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.choices, .result{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

svg{
    height: 200px;
}

.Reset{
    display: none;
    width: 200px;
    height: 232px;
}

.result{
    flex-direction: column;
}
